html {
  text-align: center;
  color: hsla(202, 100%, 10%, 1);
  background-color: hsla(202, 21%, 80%, 1);
}

.button:hover {
  background-color: hsla(202, 30%, 80%, 1);
}

h1 {
  color: hsla(202, 60%, 15%, 1)
}

.hidden-nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: hsla(202, 100%, 10%, 1);
  color: white;
  padding-top: 50px;
  border: 1px solid hsla(202, 100%, 10%, 1);
  left: -200px;
  transition: left 1s;
}

.hidden-nav-button {
  height: 30px;
  background-color:hsla(202, 100%, 10%, 1);
  color: white;
  border: none;
  width: 100%;
}

.hidden-nav-button:hover {
  cursor: pointer;
  background-color: hsla(202, 21%, 80%, 1);
}

.hidden-nav-button:active {
  color:hsla(202, 100%, 10%, 1);
}

.hidden-sort-list {
  display: none;
  flex-direction: column;
  width: 100%;
}

.hidden-arrow {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hidden-slider {
  display: none;
}

.navbar {
  background-color: hsla(202, 100%, 10%, 1);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  display: none;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  background-color: hsla(202, 100%, 10%, 1);
  color: white;
  border: none;
  display: none;
  left: 0;
  transform: scale(1.8);
}

.array-button {
  margin-right: 100px;
  background-color: hsla(202, 60%, 80%, 1);
  border: none;
  height: 30px;
  border-radius: 15px;
  padding: 0 20px;
}

.array-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.array-button:active {
  transform: scale(1);
}

.array-size {
  background-color: hsla(202, 21%, 80%, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  height: 30px;
  border-radius: 15px;
}

.array-size-button {
  background-color: hsla(202, 60%, 80%, 1);
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 15px;
  gap: 5px;
}

.array-size-button:hover {
  cursor: pointer;
}

.array-slider {
  border: 1px solid hsla(202, 21%, 50%, 1);
  display: none;
  background-color: hsla(202, 21%, 80%, 1);
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  position: absolute;
  margin-top: 30px;
}

.slider {
  padding: 10px 10px;
  background-color: hsla(202, 60%, 30%, 1);
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
}

.sort-button {
  background-color: hsla(34, 100%, 50%, 1);
  padding: 10px 20px;
  border-radius: 3px;
  margin-left: 100px;
  margin-right: 100px;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.sort-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sort-button:active {
  transform: scale(1);
}

.sort-menu {
  background-color: hsla(202, 21%, 80%, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  height: 30px;
  border-radius: 15px;
}

.sort-button-visible {
  background-color: hsla(202, 60%, 80%, 1);
  min-height: 30px;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  gap: 5px;
}

.sort-button-visible:hover {
  cursor: pointer;
}

.sort-list {
  border: 1px solid hsla(202, 21%, 50%, 1);
  display: none;
  flex-direction: column;
  background-color: hsla(202, 21%, 80%, 1);
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  position: absolute;
  margin-top: 30px;
  overflow: hidden;
}

.sort-list button {
  background-color: hsla(202, 21%, 80%, 1);
  text-align: left;
  border: none;
  padding: 5px 20px;
  letter-spacing: 0.5px;
}

.sort-list button.selected,
.sort-list button:hover {
  color: hsla(34, 80%, 50%, 1);
  background-color: hsla(202, 21%, 50%, 1);
  cursor: pointer;
}

.sorting-view-container {
  display: flex;
  justify-content: center;
}

.sorting-view {
  background-color: hsla(202, 21%, 50%, 1);
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 3px solid hsla(202, 100%, 10%, 1);
}

.rectangle {
  background-color: hsla(34, 80%, 50%, 1);
}

@media only screen and (max-width: 1000px) {
  .sorting-view {
    width: 75%;
  }
}

@media only screen and (max-width: 850px) {
  .navbar-left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: right;
  }

  .rectangle {
    transform: scaleX(0.5);
  }

  .sort-button {
    margin-right: 15%;
  }

  .array-button {
    display: none;
  }

  .array-size {
    display: none;
  }

  .sort-menu {
    display: none;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }

  .hamburger:hover {
    background-color: hsla(202, 30%, 50%, 1);
    cursor: pointer;
  }
}