html {
  text-align: center;
  background-color: hsla(202, 21%, 80%, 1);
}

.navbar {
  background-color: hsla(202, 60%, 30%, 1);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.array-button {
  margin-right: 100px;
  background-color: hsla(202, 60%, 80%, 1);
  border: none;
  height: 30px;
  border-radius: 15px;
  padding: 0 20px;
}

.array-size {
  background-color: hsla(202, 21%, 80%, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  height: 30px;
  border-radius: 15px;
}

.array-size-button {
  background-color: hsla(202, 60%, 80%, 1);
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 15px;
  gap: 5px;
}

.array-slider {
  border: 1px solid hsla(202, 21%, 50%, 1);
  display: none;
  background-color: hsla(202, 21%, 80%, 1);
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  position: absolute;
  margin-top: 30px;
}

.slider {
  padding: 10px 10px;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
}

.sort-button {
  background-color: hsla(34, 80%, 50%, 1);
  padding: 10px 20px;
  border-radius: 3px;
  margin-left: 100px;
  margin-right: 100px;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.sort-menu {
  background-color: hsla(202, 21%, 80%, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  height: 30px;
  border-radius: 15px;
}

.sort-button-visible {
  background-color: hsla(202, 60%, 80%, 1);
  min-height: 30px;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  gap: 5px;
}

.sort-list {
  border: 1px solid hsla(202, 21%, 50%, 1);
  display: none;
  flex-direction: column;
  background-color: hsla(202, 21%, 80%, 1);
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  position: absolute;
  margin-top: 30px;
  overflow: hidden;
}

.sort-list button {
  background-color: hsla(202, 21%, 80%, 1);
  text-align: left;
  border: none;
  padding: 5px 20px;
  letter-spacing: 0.5px;
}

.sort-list button:hover {
  background-color: hsla(202, 21%, 50%, 1);
}

#bubble-sort {
  color: hsla(34, 80%, 50%, 1);
  background-color: hsla(202, 21%, 50%, 1);
}

.sorting-view-container {
  display: flex;
  justify-content: center;
}

.sorting-view {
  background-color: hsla(202, 21%, 50%, 1);
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.rectangle {
  background-color: hsla(34, 80%, 50%, 1);
  width: 10px;
  height: 50px;
}